body {
  font-family: sans-serif;
  background: orange;
  color: black;
  display: flex;
  flex-direction: column;
}

header, footer {
  background: darkorange;
  color: white;
  text-align: center;
}

.perfil-card {
    max-width: 400px; 
    margin: 30px auto; 
    padding: 20px; 
    border-radius: 10px; 
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column; 
    align-items: center; 
    background-color: white;
}